<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlocklistActivity"
            android:parentActivityName=".LatestMessagesActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:parentActivityName=".EditProfileActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".NewContactActivity"
            android:parentActivityName=".ContactsActivity" />
        <activity
            android:name=".ContactsActivity"
            android:parentActivityName=".LatestMessagesActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".LatestMessagesActivity" />
        <activity android:name=".LauncherActivity" />
        <activity
            android:name=".ChatLogActivity"
            android:parentActivityName=".LatestMessagesActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewMessageActivity"
            android:parentActivityName=".LatestMessagesActivity" />
        <activity android:name=".LatestMessagesActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
    </application>

</manifest>